/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #666; /* cinza escuro */
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(to top, #080808,#161536  84%);
    background-repeat: no-repeat;
    background-size: cover;   /* cobre toda a área visível */
    background-attachment: fixed; /* mantém fixo ao rolar */
}

/* TOPO */
.topbar {
    background-color: #666; /* cinza escuro */
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(to top, #080808,#161536  84%);
    background-repeat: no-repeat;
    background-size: cover;   /* cobre toda a área visível */
    background-attachment: fixed; /* mantém fixo ao rolar */
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}
.remember{
    color: white;
}
.topbar nav a, .topbar .auth a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.logo{
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.topbar .cadastro {
    color: #0073ff;
}

/* CONTAINER */
.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* FORM LOGIN */
.form-login {
    text-align: center;
}

.form-login .logo-central {
    max-width: 120px;
    margin-bottom: 20px;
}

.form-login form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    margin: 0 auto;
}

.form-login input[type="email"],
.form-login input[type="text"],
.form-login input[type="password"] {
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.remember {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 5px;
}

.btn {
    background: #ff5500;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}

.btn:hover {
    background: #e94d00;
}

/* FORM EVENTO */
.form-evento {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.col-esquerda, .col-direita {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

textarea {
    min-height: 100px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.upload, .banner-upload, .upload-doc {
    background: #cfcfcf;
    border: 2px dashed #999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #555;
    cursor: pointer;
}

.imagens-evento {
    display: flex;
    gap: 10px;
}

.upload {
    width: 100px;
    height: 80px;
}

.banner-upload {
    width: 100%;
    height: 120px;
}

.upload-doc {
    width: 120px;
    height: 50px;
}
