/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  min-height: 100vh; /* ocupa sempre a altura da tela */
  background: linear-gradient(to top, #080808,#161536  84%);
  background-repeat: no-repeat;
  background-size: cover;   /* cobre toda a área visível */
  background-attachment: fixed; /* mantém fixo ao rolar */
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
  line-height: 1.6;
}

/* ===== NAVBAR ===== */
header {
  background-color: #666; /* cinza escuro */
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: linear-gradient(to top, #080808,#161536  84%);
  background-repeat: no-repeat;
  background-size: cover;   /* cobre toda a área visível */
  background-attachment: fixed; /* mantém fixo ao rolar */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  font-weight: bold;
  font-size: 18px;
  color: #000;
}
.navbar .logo .jogo{
  
  text-decoration: none;
  color: #000;
  font-size: 16px;
  transition: color 0.2s;
}
.navbar .ul .h3{
  align-self: center;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  transition: color 0.2s;
}

.navbar ul li a:hover {
  color: #2222ff; /* azul no hover */
}

/* ===== HERO / BANNER ===== */
.hero {
  text-align: center;
  padding: 40px 20px;
}

.hero h1 {
  font-size: 22px;
  background-color: #222;
  color: #fff;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.banner {
  width: 80%;
  height: 250px;
  background-color: #666;
  margin: 0 auto 30px;
  border-radius: 6px;
}

.cta {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.cta p {
  margin-bottom: 15px;
  font-size: 16px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #222;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background 0.2s;
}

.btn:hover {
  background-color: #444;
}

/* ===== EVENTOS ===== */
.eventos {
  padding: 40px 20px;
}

.eventos h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.evento-card {
  display: flex;
  gap: 20px;
  background-color: #ccc;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 30px;
  align-items: center;
}

.imagem-evento {
  width: 300px;
  height: 200px;
  background-color: #666;
  border-radius: 6px;
}

.info-evento {
  flex: 1;
}

/* ===== RODAPÉ ===== */
footer {
  background-color: #999;
  padding: 30px 20px;
  text-align: center;
}

footer ul {
  list-style: none;
}

footer ul li {
  margin: 8px 0;
}

footer ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

footer ul li a:hover {
  color: #2222ff;
}


